*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.2;
    font-family: "Century Gothic", Futura, sans-serif;
    background-color: #dfdddd;
}
  
ol, ul {
    padding-left: 30px;
}

@import './components.css';

  